.elements__s-block {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: white;
    padding: 40px;
    width: 100%;
    max-width: 1570px;
  }