.about__service {
    display: flex;
  }
  
  @media screen and (max-width: 1200px) {
      .about__service {
        flex-direction: column-reverse;
        align-items: center;
    }
  }
  @media screen and (max-width: 1200px) {
    .about__service {
      flex-direction: column;
      align-items: center;
  }
  }