.s-block-li {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  @media screen and (max-width: 970px) {
    .s-block-li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-left: 10px;
      flex-direction: column;
    }
  }