.slider__title {
  color: white;
  font-size: 86px;
  margin: 20px 0;
  max-width: 70%;
}
@media screen and (max-width: 1300px) {
  .slider__title {
    font-size: 65px;
    max-width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .slider__title {
    font-size: 42px;
    margin: 10px 0;
  }
}
