.about-s-b__mimages {
    padding: 30px 60px 30px 0px;
    margin: 0px 40px 0px 0px;
  }
  @media screen and (max-width: 1200px) {
    .about-s-b__mimages {
      padding: 20px 10px 20px 10px;
      margin: 0;
      display: flex;
      justify-content: center;
    }
  }