.l-b__section {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #000000;
    margin: 20px 20px 20px 20px;
    padding: 40px 40px 40px 40px;
    box-shadow: 0 2px 5px 0 rgb(51 51 51/7%);
    background-color: white;
    border-radius: 10px;
    max-width: 530px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 340px;
}
@media screen and (max-width: 1200px) {
    .l-b__section {
      max-width: 530px;
    }
  }