.about__block {
    position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      padding: 20px;
      width: 100%;
      max-width: 1570px;
      height: 100%;
      padding: 110px 0px 80px 0px;
      max-width: 1200px
  }
  @media screen and (max-width: 1200px) {
    .about__block {
        padding: 60px 0px 80px 0px;
    }
  }