.service-b-t__t {
    text-align: center;
    color: #020710;
    font-family: "Outfit", Sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: -0.1px;
    padding-top: 15px;
    padding-bottom: 15px;
  } 