.p-b-s__title {
    text-align: left;
    color: #000001;
    font-family: "Outfit", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.2px;
    margin-top: 10px;
    margin-bottom: 12px;
}