.reviews__block {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 120px 0px 60px 0px;
    width: 100%;
    max-width: 1570px;
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.ibb.co/PYBgTQL/Arrow-04.png);
    background-position: 95% 265px;
    background-repeat: no-repeat;
    background-size: 90px auto;
}