.reviews-b-t__t {
    text-align: center;
    color: #FFFFFF;
    font-family: "Outfit", Sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: -0.1px;
    margin-top: 15px;
    margin-bottom: 15px;
  }