.reviews-b-t__p {
    text-align: center;
    color: #FFB92B;
    font-family: "Outfit", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3em; 
    letter-spacing: 1px;
  }