.faq__block {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }